@model bookselling.Models.cart

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/dashboard.cshtml";
}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('.bk').on('change', function () {
            //alert(this.value);
            var val = this.value;


            $.ajax({
                type: "POST",
                url: "/Sale/AjaxMethod",
                data: '{value: "' +val+ '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    $(".price").val(response);
                    
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });

           

        });
        $('.qty').on('change', function () {
           
            var qty = this.value;
            var price = $("#pr").val();
            

            var total = qty * price;
            $(".total_price").val(total);

        });


        var today = new Date();
        var date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
       
        $(".c_date").val(date);
    });

    //Start of Main Function

</script>
@{       if (Session["QTY"] != null)
            {

        <script>
            var a = '@Session["QTY"]';
                alert(a);
        </script>

            }


}


<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Bill</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Book_ID, "Book", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Book_ID", null, htmlAttributes: new { @class = "form-control bk", @style = "background-color:white" })
            @Html.ValidationMessageFor(model => model.Book_ID, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.Bill_Date, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Bill_Date, new { htmlAttributes = new { @class = "form-control c_date", disabled = "disabled", @style = "background-color:white" } })
            @Html.ValidationMessageFor(model => model.Bill_Date, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Price</label>
        <div class="col-md-10">
            <input type="text" id="pr" class="form-control price" disabled="disabled" style="background-color:white">

        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control qty", @style = "background-color:white" } })
            @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
        </div>
    </div>



  

    <div class="form-group">
        @Html.LabelFor(model => model.Total_Price, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Total_Price, new { htmlAttributes = new { @class = "form-control total_price", @style = "background-color:white" } })
            @Html.ValidationMessageFor(model => model.Total_Price, "", new { @class = "text-danger" })
        </div>
    </div>





    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" style="background-color:blue" />



            <a id="btn_add" href="@Url.Action("order", "Sale") " class="btn btn-default" style="background-color: blue">
                <span class="glyphicon glyphicon-eye-open"></span> Continue shopping
            </a>
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
